## LISTAS

In [2]:
mi_lista=[1,2,3,4,5,6,7,8,9]
print(mi_lista) # Para imprimir la lista

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
type(mi_lista) # Para ver el tipo de dato

list

In [6]:
mi_lista[2] # Para buscar el elemento 2 de la lista

3

In [8]:
mi_lista[0:2] # Para acceder a un rango entre 0 y 2

[1, 2]

In [10]:
mi_lista[:2] # Al no colocar el primer elemento se asume 0

[1, 2]

In [11]:
mi_lista[2:] # Al no colocar el segundo elemento se asume la lista hasta el fin

[3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10]

In [22]:
mi_lista.append(10) # Para agregar el elemento 10 al final de la lista

In [38]:
mi_lista.remove(10) # Para remover un elemento de la lista

In [37]:
mi_lista.insert(3,4.5) # Para agregar el elemento 4.5 en el orden 3

In [40]:
mi_lista.extend([11,12]) # Para concatenar una lista

In [42]:
mi_lista

[1, 2, 3, 4.5, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [43]:
mi_lista.index(2) # Para encontrar el elemento en el índice 2

1

In [47]:
print(mi_lista*2,'end'==0) # Para multiplicar la lista 2 veces

[1, 2, 3, 4.5, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4.5, 4, 5, 6, 7, 8, 9, 10, 11, 12] False

In [53]:
mi_lista.sort() # Para ordenar una lista de menor a mayor

In [50]:
mi_lista.sort(reverse=True) # Para ordenar una lista de mayor a menor

In [51]:
mi_lista

[12, 11, 10, 9, 8, 7, 6, 5, 4.5, 4, 3, 2, 1]

In [54]:
mi_lista.sort()

In [55]:
ultimo=mi_lista.pop()
print(ultimo)

12

## TUPLAS

In [56]:
mi_tupla=tuple(mi_lista)
print(mi_tupla)

(1, 2, 3, 4, 4.5, 5, 6, 7, 8, 9, 10, 11)

In [57]:
mi_tupla[1] # Para imprimir el elemento 1 de la tupla

2

In [58]:
1 in mi_tupla # Evaluar si el elemento 1 se encuentra en la tupla

True

In [59]:
mi_tupla.count(1) # Evaluar las veces que se encuentra el elemento 1 en la tupla

1

In [61]:
mi_tupla_unit=('Blanco',) # Se puede crear una tupla con un único elemento

In [62]:
mi_tupla_unit

('Blanco',)

In [63]:
tupla='Gaspar',8,8,1998

In [64]:
nombre,dia,mes,año=tupla

In [69]:
print('Nombre:',nombre,',','Dia: ',dia,',', 'Mes: ',mes,',','Año: ',año)

Nombre: Gaspar , Dia:  8 , Mes:  8 , Año:  1998

In [71]:
print(nombre)
print(dia)
print(mes)
print(año)

Gaspar
8
8
1998

## DICCIONARIO

In [72]:
mi_diccionario = {  'Colores Primarios': ['Rojo','Azul','Amarillo'], 
                    'Colores secundarios': ['Naranja','Violeta','Verde'], 
                    'Clave3': 10,
                    'Clave4': False}

In [73]:
mi_diccionario['Colores Primarios']

['Rojo', 'Azul', 'Amarillo']

In [78]:
mi_diccionario['Clave5']='Agregando valor'

In [82]:
mi_diccionario['Clave3']=2 # Cambiar el valor de una clave

In [83]:
mi_diccionario

{'Colores Primarios': ['Rojo', 'Azul', 'Amarillo'],
 'Colores secundarios': ['Naranja', 'Violeta', 'Verde'],
 'Clave3': 2,
 'Clave4': False,
 'Clave 5': 'Agregando valor',
 'Clave 3': 2,
 'Clave5': 'Agregando valor'}

In [85]:
del mi_diccionario['Clave 5']

In [86]:
del mi_diccionario['Clave 3']

In [87]:
mi_diccionario

{'Colores Primarios': ['Rojo', 'Azul', 'Amarillo'],
 'Colores secundarios': ['Naranja', 'Violeta', 'Verde'],
 'Clave3': 2,
 'Clave4': False,
 'Clave5': 'Agregando valor'}

In [88]:
mi_tupla=("Argentina", "Italia", "Inglaterra")
mi_diccionario={mi_tupla[0]:"Buenos Aires", 
                mi_tupla[1]:"Roma", 
                mi_tupla[2]:"Londres"}

In [89]:
mi_diccionario

{'Argentina': 'Buenos Aires', 'Italia': 'Roma', 'Inglaterra': 'Londres'}